body{
    background-color: rgb(238, 238, 238);
    
}

header{ background-color: rgb(128, 128, 128);
    padding: 1em;
    border: .1em solid black;

}

.links {background-color: white;
    padding: .25em;
    margin: 1em;
    border-radius: .25em;
}

.text{
    margin-left: 100pt;
}